managers:
    manager-1:
        host: foo
        root: ~/code/project
        pipe: jobs.pipe
        password: pass
    manager-2:
        host: bar
        port: 9999
        root: ~/code/project-1
        pipe: jobs.pipe
    manager-3:
        host: bar
        port: 9999
        root: ~/code/project-2
        pipe: jobs.pipe
